.inxHead {
    color:
    #1179ad;
    
}
body {
    background-color: aqua;
}
.titleBar {
    background-color: lightblue;
}

.todo {
    margin:auto;
    background-color: #faf44b;
    width:50%;
    border:3px solid white;
    
    border-radius: 10px;
}
