<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      <script src="{% static 'scripts.js' %}"></script>  
        <title>Price app</title>
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">  
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"> </script>  
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"> </script>  
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
      
    <link rel ="stylesheet" href = "https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css">
  
    <!--TEKSTINHAKU FUNKTIO-->
   <script>
    function btnSearch(text)
    {
        var str = document.getElementById("find")
        if (window.find(text))
        {
            
        }
        else {
            alert('Nothing found')
        }
    }
   </script>
       
        
    </head>
    <!--suoritetaan funktio aina sivun latauduttua-->
    <body onload="randomQuote()">
      
      
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
           
              <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="/indexPage">Front Page
                     
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="/showToDo">To-DO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/FundValues">Fund values</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/showRssPage">RSS-reader</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-sm-2" id="find" type="search" placeholder="Search">
                                                                                <!--LÄHETETÄÄN BTN SEARCH FUNKTIOLLE PARAMETRINA INPUT KENTTÄÄN KIRJOITETTU TEKSTI-->
                  <button class="btn btn-secondary my-2 my-sm-0"  type="submit" onclick="btnSearch(document.getElementById('find').value)">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <h3 class="inxHead">Django App</h3>
        <p><b>Today is: {% now "j. m. Y " %}</b></p>
        <p><b>Week is {{weekPlace}}</b></p>
        <p>Today's  random selected quote:</p> <p id="quotePlace"></p>
        

        <!--ratingin html-koodi-->
        <style>  
          body {  
            
              margin : 0px;  
          }  
          .fa-star {
                
              font-size : 20px;  
              align-content: center;  
          }  
          .container {
              margin-left: 5px;  
              height: 100px;  
              width: 600px;  
              margin: auto;  
          }  
          </style>  
      </head>  
      <body>  
          <div class = "container">  
             
             <div class = "con">  
            
             <i class = "fa fa-star" aria-hidden = "true" id = "st1"></i>  
             <i class = "fa fa-star" aria-hidden = "true" id = "st2"></i>  
             <i class = "fa fa-star" aria-hidden = "true" id = "st3"></i>  
             <i class = "fa fa-star" aria-hidden = "true" id = "st4"></i>  
             <i class = "fa fa-star" aria-hidden = "true" id = "st5"></i>  
             </div>  
          </div>
          <button id="showBtn">Show ratings</button>
        
          <script>
          //ratingin jquery koodi  
              var ratings = []
              $(document).ready(function() {  
                $("#st1").click(function() {  
                    $(".fa-star").css("color", "black");  
                    $("#st1").css("color", "blue");
                    //vähennetään lenghtista tarvittava määrä että annettujen tähtimäärä
                    //näkyy oikein
                    var rating = $('.fa-star').length -4
                    //tekstin tallennus muuttujaan quotePlacesta
                    var quote = $("#quotePlace").text()
                    alert('You gave '+ rating+' stars to '+quote)
                    
                    //indeksipaikan selvitys
                    if (ratings.includes(quote))
                    {
                      
                      index=ratings.indexOf(quote)
                      index = index +1
                      ratings.splice(index,0,rating)
                      console.log(ratings)
                   
                    }
                    else {
                        //quoten ja tähtimäärän tallennus listaan.
                    ratings.push(quote)
                    ratings.push(rating)
                    console.log(ratings)
                    //kutsutaan funktiota äänestyksen jälkeen uudelleen,
                    //että edellinen jää listalle ja uusi quote tulee näkyviin
                    randomQuote()

                    }
                  
        
                });  
                $("#st2").click(function() {  
                    $(".fa-star").css("color", "black");  
                    $("#st1, #st2").css("color", "yellow");  
                    var rating = $('.fa-star').length -3
                    var quote = $("#quotePlace").text()
                    alert('You gave '+ rating+' stars to '+quote)

                    //kaikki quoten saamat avostelut
                     //jos quote löytyy listalta eli se on jo arvosteltu
                     if (ratings.includes(quote))
                    {
                      //indeksipaikan selvitys
                      index=ratings.indexOf(quote)
                      //LISÄTÄÄN INDEKSIPAIKKAAN 1, ELI taulukon seuraava paikka
                      index = index +1
                      //splicella lisätään index-indeksipaikkaan arvostelu, eli jokaisen arvostellun
                      //quoten yhteydessä näytetään kaikki sen saamat arviot
                      ratings.splice(index,0,rating)
                      console.log(ratings)
                   
                    } else {
                      ratings.push(quote)
                      ratings.push(rating)
                      console.log(ratings)
                      randomQuote()

                    }
                   
        
                });  
                $("#st3").click(function() {  
                    $(".fa-star").css("color", "black")  
                    $("#st1, #st2, #st3").css("color", "yellow");
                    var rating = $('.fa-star').length -2
                    var quote = $("#quotePlace").text()
                    alert('You gave '+ rating+' stars to '+quote)

                    if (ratings.includes(quote))
                    {
                      
                      index=ratings.indexOf(quote)
                      index = index +1
                      ratings.splice(index,0,rating)
                      console.log(ratings)
                   
                    }
                    else {
                      ratings.push(quote)
                      ratings.push(rating)
                      console.log(ratings)
                      randomQuote()

                    } 
                    
                   
                   
        
                });  
                $("#st4").click(function() {  
                    $(".fa-star").css("color", "black");  
                    $("#st1, #st2, #st3, #st4").css("color", "yellow");
                    var rating = $('.fa-star').length -1
                    var quote = $("#quotePlace").text()
                    alert('You gave '+ rating+' stars to '+quote)
                    
                    if (ratings.includes(quote))
                    {
                      
                      index=ratings.indexOf(quote)
                      index = index +1
                      ratings.splice(index,0,rating)
                      console.log(ratings)
                   
                    } else {
                      ratings.push(quote)
                      ratings.push(rating)
                      console.log(ratings)
                      randomQuote()

                    }
                    
                    
                      

        
                });  
                $("#st5").click(function() {  
                    $(".fa-star").css("color", "black");  
                    $("#st1, #st2, #st3, #st4, #st5").css("color", "yellow");  
                    var rating = $('.fa-star').length
                    
                    var quote = $("#quotePlace").text()
                    alert('You gave '+ rating+' stars to '+quote)  
                    if (ratings.includes(quote))
                    {
                      
                      index=ratings.indexOf(quote)
                      index = index +1
                      ratings.splice(index,0,rating)
                      console.log(ratings)
                    } else {


                      ratings.push(quote)
                      ratings.push(rating)
                      console.log(ratings)
                      randomQuote()

                    }
                   
                //listaan tallennettujen arvostelujen näyttö p-tagissa
                $("#showBtn").click(function() {
                  var i = 0
                  
                  while (i < ratings.length){
                    //näytetään tulokset ratigsPlace id:llä nimetyssä p-tagissa
                    ratingsPlace.innerHTML += '<p>'+ratings[i]+'</p>'
                    i++

                  }
                 

                })               

                });  
              });  

        
        

          </script>
          <p id="ratingsPlace"></p>
          
        <!--Likitys funktioon joka avaa toisen sivun-->
       
        <a class="btn btn-primary btn-md" href="/udpReadPage">UDP-reader</a>
        <a class="btn btn-primary btn-md" href="/palindromePage">Palindrome checker</a>
        <a class="btn btn-primary btn-md" href="/systemCheck">System check</a>
        <a class="btn btn-primary btn-md" href="/udpPage">Send udp/email message</a>
        <a class="btn btn-primary btn-md" href="/alarmClockPage">Alarm Clock</a>
      
      
        
       
        
    </body>
</html>