<!DOCTYPE html>
<html>
    <head>
        <title>Palindromes</title>
    </head>
    <body>
        <h3>Palindrome checker</h3>
        <form action="/palindrome-check" method="post">
            {%csrf_token %}
        <p>Enter a word:</p>
        <input type="text" name="word">
        <input type="submit" value="Check"><br>
        <b>{{answerPlace}}</b> <br> {{lenPlace}}
    </form>

    <h3>Create acronym</h3>
    <form action = "/create-acronym" method="post">
        {%csrf_token %}
        <input type="text" name="acronymWord">
        <input type="submit" value="Create">
        <h3>{{acronymPlace}}</h3>
    </form>

    </body>
</html>