
<!DOCTYPE html>
<html>

<head>
    <link rel ="stylesheet" href = "https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css">
    <!--SIVUN PÄIVITYS AUTOMAATTISESTI 10 SEK VÄLEIN.
    <meta http-equiv="refresh" content="10">-->
    <title>System</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
       
          <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/indexPage">Front Page
                 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="/showToDo">To-DO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/FundValues">Fund values</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/showRssPage">RSS-reader</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" id="find"  type="search" placeholder="Search">
                                                                            <!--LÄHETETÄÄN BTN SEARCH FUNKTIOLLE PARAMETRINA INPUT KENTTÄÄN KIRJOITETTU TEKSTI-->
              <button class="btn btn-secondary my-2 my-sm-0"  type="submit" onclick="btnSearch(document.getElementById('find').value)">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <script>
      
        //funktio päivittää sivun annetun sekuntimäärän mukaan mikäli checkbox on valittuna
        function autoUpdate() {

                
                window.setTimeout(function() {
                    
                    window.location.reload();
                },5000)
              
               
                
                   
            
        }


        function load() {
          
            document.getElementById("autoUpdate").checked = true;
        
        }

     
        const infoList = []
        function addToList() {
            //tallennetaan muuttujaan info-divin sisältö
            var sysinfo = document.getElementById("info").innerHTML;
            //lisätään muuttuja listaan
            infoList.push(sysinfo)
            //muunto json merkkijonoksi
            JSON.stringify(infoList)
            localStorage.setItem('systeminfo',JSON.stringify(sysinfo))

        }
    </script>
</head>

<body>
    <center>
        <input type="checkbox" id="autoUpdate" name="autoUpd" onclick="autoUpdate()">
        <label for="autoUpdate">Automatic update</label>
    <h3>System checker</h3>
    <div id="info">
    <b>{{osName}} {{osVersion}}<br>
        {{cpuPlace}}<br>
        {{btrPlace}}<br>
        {{memoryPlace}}<br>
        {{freePlace}}<br>
        {{perPlace}}<br>
        {{proPlace}}<br>
        </b>
    </div>
    <br>
    <input type="submit" value="insert to list and save to localStorage" onclick="addToList()">
    </center>
</body>

</html>

