<!DOCTYPE html>
<html>

<head>
    <!--SIVUN PÄIVITYS AUTOMAATTISESTI 10 SEK VÄLEIN.
    <meta http-equiv="refresh" content="10">-->
    <title>System</title>
    <script>
      
        //funktio päivittää sivun annetun sekuntimäärän mukaan mikäli checkbox on valittuna
        function autoUpdate() {

                
                window.setTimeout(function() {
                    
                    window.location.reload();
                },5000)
              
               
                
                   
            
        }


        function load() {
          
            document.getElementById("autoUpdate").checked = true;
        
        }

     
        const infoList = []
        function addToList() {
            //tallennetaan muuttujaan info-divin sisältö
            var sysinfo = document.getElementById("info").innerHTML;
            //lisätään muuttuja listaan
            infoList.push(sysinfo)
            //muunto json merkkijonoksi
            JSON.stringify(infoList)
            localStorage.setItem('systeminfo',JSON.stringify(sysinfo))

        }
    </script>
</head>

<body>
    <center>
        <input type="checkbox" id="autoUpdate" name="autoUpd" onclick="autoUpdate()">
        <label for="autoUpdate">Automatic update</label>
    <h3>System checker</h3>
    <div id="info">
    <b>{{osName}} {{osVersion}}<br>
        {{cpuPlace}}<br>
        {{btrPlace}}<br>
        {{memoryPlace}}<br>
        {{freePlace}}<br>
        {{perPlace}}<br>
        {{proPlace}}<br>
        </b>
    </div>
    <br>
    <input type="submit" value="insert to list and save to localStorage" onclick="addToList()">
    </center>
</body>

</html>